default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
        exclude: test/data/schema/wrong_syntax.py
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: mkdocs.yml
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: test/data/schema/wrong_syntax.py
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        exclude: test/data/schema/wrong_syntax.py
  - repo: https://github.com/dosisod/refurb
    rev: v1.11.1
    hooks:
      - id: refurb
        exclude: test/data/schema/wrong_syntax.py
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.247'
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
